.detail {
  position: relative;
}
.detail .control-detail {
  margin-top: 1px;
  float: left;
}
.detail .control-label {
  float: left;
}
.detail #activityDescription img {
  width: 100% !important;
  height: auto !important;
}
@media (min-width: 758px) {
  .detail .control-detail {
    margin-top: 8px;
  }
}
.list .item {
  clear: both;
  margin: 15px 0px;
}
.list .item .profile {
  width: 80px;
  display: inline-block;
}
.list .item .status {
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
  vertical-align: top;
}
.list .item .review {
  float: right;
  width: 80px;
  display: inline-block;
}
.list .item .review a {
  display: block;
  margin-top: 6px;
}
.list .item .img {
  display: inline-block;
}
.list .item h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 24px;
}
.list .item img {
  vertical-align: initial;
}
.list .item p {
  margin: 10px 0 0 0;
}
.list .item p.signStatus {
  margin-top: 0px;
}
.list .item .content {
  display: inline-block;
  margin-left: 20px;
  vertical-align: top;
}
.list .item .view {
  display: block;
  float: right;
  width: 80px;
  margin-top: 30px;
}
.signupButton {
  text-align: center;
}
.qyp-btn {
  background-color: #FDDE62;
  color: #333;
}
.btn-sign {
  position: fixed;
  bottom: 20px;
  margin-left: -35px;
}
.buttons {
  margin-bottom: 20px;
  height: 40px;
}
.buttons .sm-float {
  display: block;
  float: left !important;
  margin: 20px 0px;
  clear: both;
}
@media (min-width: 758px) {
  .buttons .sm-float {
    display: inline-block;
    float: right !important;
    margin: 0px 0px;
    clear: none;
  }
}
